<!-- Structural Directive *ngFor - Looping -->
<div *ngFor="let item of itemsForSale">
  <h3>{{ item.name }}</h3>
  <p>{{ item.description }}</p>
  <p>${{ item.price }} each</p>
</div>


<!-- Structural Directive *ngIf - Conditional Display -->
<div *ngIf="invalidData">
  <p class="error">Some error message...</p>
</div>


<!-- Alternate content with else and ng-template -->
<p *ngIf="loaded; else loading">
  <!-- Page content -->
</p>

<ng-template #loading>
  <p>{{ loadingMessage }}</p>
</ng-template>


<!-- Input Values with Event Binding -->
<input #firstName type="text" /> 
<input #lastName type="text" />

<div id="business-card-mockup">
  <!-- Will not update on page dynamically without event binding above -->
	<p>{{ firstName.value }} {{ lastName.value }}</p>
</div>